/* Navbar */

.fa.fa-rocket {
  background: #fff;
  border: 1px solid white;
  border-radius: 20px;
  color: red;
  padding: 6px;
}

.fluid-container {
  margin-top: 70px;
}

.left-sidebar {
  position: fixed !important;
  top: 70px;
  left: 0;
}
